* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

body {
  background: rgba(255, 144, 14, 0.1);
}
/* navbar design */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  padding-left: 228px;
  padding-top: 50px;
  font-weight: 700;
  font-size: 35px;
}
.options ul {
  list-style: none;
  display: flex;
  padding-right: 240px;
  padding-top: 63px;
}
.options ul li {
  padding: 10px;
}
.options ul li a {
  text-decoration: none;
  color: #424242;
  font-weight: 500;
  font-size: 18px;
}

/* Main Part design */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 116px;
}
.texts {
  width: 700px;
  text-align: center;
  padding-bottom: 32px;
}
.main-text {
  padding-bottom: 20px;
}
.btn {
  width: 180px;
  height: 64px;
  background-color: #ff900e;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
}

.banner {
  width: 1440px;
  height: 700px;
  padding-top: 50px;
  border-radius: 8px;
}
