* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

/* header design */
header {
  background-color: rgba(255, 144, 14, 0.1);
  /* width: 100%;
  height: 100%; */
}

/* navbar design */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  padding-left: 228px;
  padding-top: 50px;
  font-weight: 700;
  font-size: 35px;
}
.options ul {
  list-style: none;
  display: flex;
  padding-right: 240px;
  padding-top: 63px;
}
.options ul li {
  padding: 10px;
}
.options ul li a {
  text-decoration: none;
  color: #424242;
  font-weight: 500;
  font-size: 18px;
}
.options ul li a:hover {
  color: #ff900e;
}

.btn:hover {
  color: black;
  background-color: #faf8f1;
}
/* Main Part design */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 116px;
}
.texts {
  width: 700px;
  text-align: center;
  padding-bottom: 32px;
}
.main-text {
  padding-bottom: 20px;
}
.btn {
  width: 180px;
  height: 64px;
  background-color: #ff900e;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

.banner {
  width: 1440px;
  height: 700px;
  padding-top: 50px;
  border-radius: 8px;
}

/* Feature section */
.features {
  margin-top: 85px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 73px;
}

.feature-photos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px 24px;
  padding-left: 301px;
}

.feature-texts {
  padding-right: 301px;
}

.feature-texts {
  display: flex;
  flex-direction: column;

  justify-content: center;
}
.feature-texts-primary {
  font-size: 45px;
  font-weight: 700;
  padding-bottom: 24px;
}
.text-color-gray {
  color: #727272;
}
.text-color-black {
  color: #131313;
}
.text-color-orange {
  color: #ff900e;
}
.feature-texts-secondary {
  padding-bottom: 32px;
  font-size: 16px;
  font-weight: 400;
  color: #727272;
}

/* More Features Text Section */
.more-features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 130px;
}
.more-feature-texts {
  width: 586px;
  height: 982px;
  padding-left: 240px;
}
.more-feature-texts-primary {
  border-left: 5px solid #ff900e;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 24px;
}
.more-feature-h4 {
  padding-bottom: 10px;
}

.for-padding {
  padding-left: 20px;
}

.more-feature-texts-secondary {
  padding-bottom: 32px;
  font-size: 16px;
  font-weight: 400;
  color: #727272;
}
.more-feature-box {
  width: 586px;
  height: 120px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 20px;
  position: relative;
  box-shadow: 0 14px 28px rgba(184, 181, 181, 0.25),
    0 10px 10px rgba(255, 253, 253, 0.22);
  padding: 30px 42px 30px 30px;
}

.more-feature-picture img {
  width: 800px;
  height: 1059px;
  position: relative;
}

/* Some Facts Section */
.some-facts {
  margin-top: 130px;
  padding-left: 240px;
}
.some-facts-primary {
  font-weight: 700;
  font-size: 45px;
  padding-bottom: 24px;
}
.some-facts-secondary {
  width: 542px;
  height: 52px;
  font-size: 16px;
  font-weight: 400;
  color: #727272;
}

/* Information boxes section */

.info-box {
  display: flex;
  margin: 0 290px;
  justify-content: space-evenly;
  padding-top: 100px;
}
.hover-box {
  width: 200px;
  height: 200px;
  border: 2px solid #ff900e;
  text-align: center;
}
.hover-box:hover {
  border-color: transparent;
  background-color: transparent;
}
a {
  text-decoration: none;
  color: #131313;
}
.primary {
  font-size: 35px;
}
.secondary {
  font-size: 12px;
}
.box-items {
  padding-top: 60px;
}

/* sponsors section */
.sponsors {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sponsors-secondary {
  text-align: center;
}

/* sponsor logo section */
.logos {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

footer {
  width: 1500px;
  height: 100px;
  border: none;
  border-radius: 8px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 130px 260px;
  background-color: #fff4e7;
  font-size: 20px;
}

/* Responsive Design */

/* ------------------------------ mobile layout --------------------------------*/
@media only screen and (max-width: 576px) {
  * {
    box-sizing: border-box;
  }
  header {
    background-color: rgba(255, 144, 14, 0.1);

    width: 100%;
    height: 100%;
  }
  .texts {
    width: 400px;
  }
  .banner {
    width: 440px;
    height: 300px;
  }
  .logo {
    padding-left: 15px;
  }
  nav {
    flex-direction: column;
  }
  .options ul {
    flex-direction: column;
    align-items: center;
    padding-left: 190px;
  }
  /* features */
  .features {
    display: flex;
    flex-direction: column;
  }
  .feature-photos {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
  }
  .feature-texts {
    margin-top: 30px;
    padding-left: 145px;
    /* width: 400px; */
    padding-right: 130px;
  }

  /* more-features section */
  .more-features {
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    padding-left: 1px;
  }
  .more-feature-texts {
    padding-left: 80px;
    width: 400px;
  }
  .more-feature-box {
    width: 400px;
    height: 140px;
  }
  .more-feature-picture img {
    margin-top: 10px;
    height: 600px;
    width: 500px;
    padding-left: 80px;
  }

  /* some-facts  */
  .some-facts {
    display: flex;
    flex-direction: column;
    padding-left: 1px;
    align-items: center;
  }

  .some-facts-secondary {
    width: 350px;
    text-align: center;
  }

  /* info-box */
  .info-box {
    flex-direction: column;
    align-items: center;
  }
  .hover-box {
    margin: 10px;
  }

  /* sponsors */

  /* logos */
  .logos {
    flex-direction: column;
    align-items: center;
  }
  .logos img {
    width: 200px;
    margin: 25px;
  }
  footer {
    width: 400px;
    height: 100px;
    border: none;
    border-radius: 8px;

    margin: 130px 100px;

    background-color: #fff4e7;
  }
}

/* ------------------------- ipad layout ---------------------- */
@media only screen and (max-width: 992px) and (min-width: 577px) {
  * {
    box-sizing: border-box;
  }
  header {
    width: 100%;
    height: 100%;
  }
  .texts {
    width: 400px;
  }
  .banner {
    width: 800px;
    height: 500px;
  }
  .logo {
    padding-left: 15px;
  }
  nav {
    flex-direction: column;
  }
  .options ul {
    flex-direction: column;
    align-items: center;
    padding-left: 190px;
  }

  /* features */
  .features {
    display: flex;
    flex-direction: column;
  }
  .feature-photos {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
  }
  .feature-texts {
    margin-top: 80px;
    padding-left: 145px;
    /* width: 400px; */
    padding-right: 130px;
  }

  /* more-features section */
  .more-features {
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    padding-left: 1px;
  }
  .more-feature-texts {
    padding-left: 150px;
    width: 600px;
  }
  .more-feature-box {
    width: 600px;
    height: 140px;
  }
  .more-feature-picture img {
    margin-top: 10px;
    height: 700px;
    width: 700px;
    padding-left: 200px;
  }

  /* some-facts  */
  .some-facts {
    display: flex;
    flex-direction: column;
    padding-left: 1px;
    align-items: center;
  }

  .some-facts-secondary {
    width: 350px;
    text-align: center;
  }

  /* info-box */
  .info-box {
    flex-direction: column;
    align-items: center;
  }
  .hover-box {
    margin: 10px;
  }

  /* sponsors */

  /* logos */
  .logos {
    flex-direction: column;
    align-items: center;
  }
  .logos img {
    width: 200px;
    margin: 25px;
  }
  footer {
    width: 750px;
    height: 100px;
    border: none;
    border-radius: 8px;
    margin: 130px 100px;
    background-color: #fff4e7;
  }
}
